body {
  background-color: aqua;  
}
.box {
  position: relative;
  top: 430px;
  height: auto;
 }
img {
  width: 100%;
  height: auto;
}
#flag {
  width: 50px;
  height: auto;
  position: absolute;
  right: 56%;
  top: -1%;
}
.marks {
  width: 2.5%;
  height: 1.0%;
}
#mark1 {
  position: absolute;
  right: 87%;
  top: 84%; 
  background-color: blueviolet;
}
#mark2 {
  position: absolute;
  right: 82%;
  top: 68%; 
  background-color: blue;
}
#mark3 {
  position: absolute;
  right: 79%;
  top: 54%; 
  background-color: cyan;
}
#mark4 {
  position: absolute;
  right: 74%;
  top: 36%; 
  background-color: chartreuse;
}
#mark5 {
  position: absolute;
  right: 68%;
  top: 36%; 
  background-color: gold;
}
#mark6 {
  position: absolute;
  right: 62%;
  top: 27%; 
  background-color: orange;
}
#mark7 {
  position: absolute;
  right: 55%;
  top: 6%; 
  background-color: red;
}
#climb {
  /* background-color: chartreuse; */
  width: 50px;
  height: auto;
  position: absolute;
  right: 87%;
  top: 84%; 
}
